.footer {
  background-color: #1a1a1a; /* Matches Navbar */
  color: white;
  padding: 40px 0 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-content h3 {
  color: #ff3b3b;
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-content p {
  color: #ccc;
  margin-bottom: 20px;
}

.socials span {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.socials span:hover {
  color: #ff3b3b;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 14px;
  color: #777;
}