.hero-container {
  /* This grabs a real gym image from the internet */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1470&auto=format&fit=crop');
  height: 90vh; /* Takes up 90% of the screen height */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.start-btn {
  padding: 15px 40px;
  font-size: 20px;
  background-color: #ff3b3b; /* Gym Red */
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.start-btn:hover {
  background-color: #d32f2f; /* Darker red on hover */
  transform: scale(1.05); /* Grows slightly */
}